body {
  background-color: rgb(53, 103, 54);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  height: 400px;
  color: rgb(214, 214, 214);
}
h1 {
  font-family: 'Cinzel Decorative', cursive;
}
h2 {
  font-family: 'Cinzel Decorative', cursive;
}
#dealer-hand {
  background-color: rgba(0, 0, 0, 0.22);
  margin: 5px;
  height: 40%
}
#betting {
  background-color: rgba(0, 0, 0, 0.22);
  margin: 5px;
  height: 20%;
  display: block;
}
#player-hand {
  background-color: rgba(0, 0, 0, 0.22);
  margin: 5px;
  height: 40%;
}
#current-pot {
  font-size: 24px;
}
#dealer-value {
  font-size: 21px;
}
#player-value {
  font-size: 21px;
}
#bet-1 {
  background-color: rgba(255, 255, 255, 1);
}
#bet-5 {
  background-color: rgba(203, 42, 42, 1);
}
#bet-25 {
  background-color: rgba(60, 172, 54, 1);
}
#bet-100 {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}
.dealer {
  display: inline-block;
}
.player {
  display: inline-block;
}
.status-container {
  background-color: rgba(0, 0, 0, 0.22);
}
.status {
  display: inline;
  vertical-align: middle;
  margin: 5px;
  /*background-color: rgba(0, 0, 0, 0.22);*/
}
.bets {
  position: relative;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}
.betting-line {
  display: inline-block;
}
.betting-line.current {
  font-size: 24px;
}
.cards {
  background-color: rgba(0, 0, 0, 0.22);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 90%;
  width: 100px;
  margin: 5px;
}
.cards img {
  position: relative;
  width: 100%;
  height: 100%;
}
